@import url("http://bootswatch.com/superhero/bootstrap.min.css");

#MyBody
{
    width: 98.6%;
    margin: 0.7%;
    height: 100%;
}

footer
{
   padding-top: 5%;
    position: relative;
    height: 70px;
    bottom: 0;
    width: 98%;
}

#Logo_IUT
{
    width: 100%;
    height: 100px;
    border-radius: 6px;
}

#Logo_UFC
{
    width: 80%;
    height: 100px;
    border-radius: 6px;
}

#conteneur_IMG
{

    border-radius: 6px;
}

#Breadcrumb
{
    list-style-type: none;
    margin-top: 0.2%
}

#panel_etu .form-group
{
    padding-left: 0.8%;
    padding-right: 0.8%;
}

#panel_etu button
{
    margin-left: 43%;
}
#menu_etu a:hover
{
    background-color: #428bca;
}

#sujet_annonce
{
    resize: vertical;
}

#liste_stage_dispo
{
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

#tableau_soutenance
{
    position: absolute;
    left: 22%;
}

#div_select_soutenance select
{
    width: 90%;
}
